/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* CODE STARTS HERE */
nav {
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
	justify-content: center;
	align-items: center;
}

.links {
	display: flex;
	justify-content: center;
	width: 37%;
}

.links a{
	text-decoration: none;
	color: #000000;
	line-height: 60px;
	display: flex;
	justify-content: flex-start;
	width: 20%;
}

nav a:hover {
    color: rgb(255, 65, 65);
    cursor: pointer;
}

.logo {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 10%;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 47%;
}

h1 {
    font-size: 28px;
    padding-top: 3%;
    text-align: left;
    color: rgb(255, 65, 65);
}

.features-banner-img {
    object-fit: cover;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47%;
    padding-bottom: 1%;
    margin-top: 3.5%;
}

.intro p {
    margin-top: 3%;
    line-height: 1.5;
}

hr {
	display: flex;
	justify-content: center;
	width: 47%;
	margin-top: 2%;
	margin-bottom: 2%;
}

.content {
    display: flex;
    justify-content: center;
    align-content: center;
}

.tools {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 17%;
}

.servers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 17%;
}

.support {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 17%;
}

.icon {
    width: 20%;
    margin: 5%;
}

h3 {
    margin-top: 4%;
}

.text {
    width: 70%;
    text-align: center;
    line-height: 1.5;
}

footer {
    display: flex;
    justify-content: center;
    align-content: center;
}

#copyright {
    display: flex;
    justify-content: center;
    align-item: center;
    padding-top: 4%;
    padding-bottom: 4%;
}